body {
  margin: 0;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
p {
  font-family: "Raleway", sans-serif;
  font-weight: 18px;
  font-size: 18px;
}

.header {
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.header__logo {
  width: 200px;
}

.main {
  background-color: #e56353;
}

.main__container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.main__container__title {
  color: #fff;
  text-align: center;
  font-weight: 200;
  font-size: 50px;
}

.main__container__title2 {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 70px;
}

.nosotros__title {
  padding: 2rem;
  background-color: #e56353;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 70px;
}

.nosotros__javiera__img {
  padding-left: 18rem;
  width: 40%;
  text-align: center;
}

.nosotros__roberto__img {
  padding-left: 18rem;
  padding-right: 18rem;
  padding-top: 3rem;
  width: 40%;
  text-align: center;
}

.nosotros__roberto__title {
  text-align: center;
  font-weight: 18px;
  font-size: 50px;
  color: #686963;
}

.nosotros__javiera__title {
  text-align: center;
  font-weight: 18px;
  font-size: 50px;
  color: #686963;
}

.nosotros__roberto__texto {
  padding-left: 12rem;
  padding-right: 12rem;
  text-align: left;
  font-weight: 18px;
  font-size: 200;
  color: #686963;
  padding-bottom: 3rem;
}

.nosotros__javiera__texto {
  padding-left: 12rem;
  padding-right: 12rem;
  text-align: left;
  font-weight: 18px;
  font-size: 200;
  color: #686963;
}

.article__organicos {
  padding: 2rem 2rem 2rem 2rem;
  background-color: #A0A0A0;
  color: #fff;
  font-weight: 18px;
}

.article__organicos__img {
  width: 80%;
  text-align: center;
  padding-left: 5rem;
}

.article__organicos__title {
  text-align: center;
  font-size: 50px;
}

.article__organicos__texto {
  padding-left: 8rem;
  padding-right: 8rem;
  color: #fff;
  font-weight: 200;
  font-size: 18px;
  text-align: left;
}

.article__organicos__texto2 {
  padding-left: 8rem;
  padding-right: 8rem;
  font-weight: 200;
  font-size: 18px;
}

.article__limache {
  padding: 2rem 2rem 2rem 2rem;
  font-weight: 18px;
}

.article__limache__title {
  text-align: center;
  color: #686963;
  font-size: 50px;
}

.article__limache__img {
  padding-left: 5rem;
  width: 80%;
  text-align: center;
}

.article__limache__texto {
  padding-left: 8rem;
  padding-right: 8rem;
  font-weight: 200;
  font-size: 18px;
  text-align: left;
  color: #686963;
}

.article__limache__texto2 {
  padding-left: 8rem;
  padding-right: 8rem;
  font-weight: 200;
  font-size: 18px;
  text-align: left;
  color: #686963;
}

.main {
  background-color: #e56353;
}

.main__container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.main__container__title {
  color: #fff;
  text-align: center;
  font-weight: 200;
  font-size: 50px;
}

.main__container__title2 {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 70px;
}

.nosotros__title {
  padding: 2rem;
  background-color: #e56353;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 70px;
}

.nosotros__javiera__img {
  padding-left: 18rem;
  width: 40%;
  text-align: center;
}

.nosotros__roberto__img {
  padding-left: 18rem;
  padding-right: 18rem;
  padding-top: 3rem;
  width: 40%;
  text-align: center;
}

.nosotros__roberto__title {
  text-align: center;
  font-weight: 18px;
  font-size: 50px;
  color: #686963;
}

.nosotros__javiera__title {
  text-align: center;
  font-weight: 18px;
  font-size: 50px;
  color: #686963;
}

.nosotros__roberto__texto {
  padding-left: 12rem;
  padding-right: 12rem;
  text-align: left;
  font-weight: 18px;
  font-size: 200;
  color: #686963;
  padding-bottom: 3rem;
}

.nosotros__javiera__texto {
  padding-left: 12rem;
  padding-right: 12rem;
  text-align: left;
  font-weight: 18px;
  font-size: 200;
  color: #686963;
}

.formulario {
  padding: 2rem;
  background-color: #e56353;
}

.formulario__title {
  padding: 2rem;
  background-color: #e56353;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 70px;
}

.pie {
  padding: 2rem 2rem 2rem 2rem;
  text-align: center;
  background-color: #686963;
}

.pie__img {
  width: 100px;
}

.formulario__button {
  text-align: center;
}

.formulario__button__btn {
  background-color: #fff;
  color: #91918d;
  width: 200px;
  border-radius: 20px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 18px;
  font-weight: 18px;
}

/*# sourceMappingURL=main.css.map */
