.article__organicos {
	padding: 2rem 2rem 2rem 2rem; 
	background-color: $quick_silver;
	color: $white;
	font-weight: $medium;
}


.article__organicos__img {
	width: 80%;
	text-align: center;

}



.article__organicos__title {
	text-align: center;

}
.article__organicos__texto {
	padding-left: 3rem;
	padding-right: 3rem;
	color: $white;
	font-weight: $extra-light;
	font-size: $medium;
	text-align: left;

}

.article__organicos__texto2 {
	padding-left: 3rem;
	padding-right: 3rem;
	font-weight: $extra-light;
	font-size: $medium;
}

.article__limache {
	padding: 2rem 2rem 2rem 2rem; 
	font-weight: $medium;
}

.article__limache__title {
	text-align: center;
	padding-left: 3rem;
	padding-right: 3rem;
}



.article__limache__img {
	width: 80%;
	text-align: center;

}

.article__limache__texto {
	padding-left: 3rem;
	padding-right: 3rem;
	color: $white;
	font-weight: $extra-light;
	font-size: $medium;
	text-align: left;

}

.article__limache__texto2 {
	padding-left: 3rem;
	padding-right: 3rem;
	font-weight: $extra-light;
	font-size: $medium;
	text-align: left;

}
	