 .formulario {
 	padding: 2rem;
 	background-color: $jelly_bean;
 	
 }
  .formulario__title {
 	padding: 2rem;
 	background-color: $jelly_bean;
 	color: $white;
 	text-align: center;
 	font-weight: $bold;
	font-size: $large;
 }

 