.main {
	background-color: $jelly_bean;

} 
 .main__container {
 	padding-top: 3rem;
 	padding-bottom: 3rem;
 }

.main__container__title {
	color: $white;
	text-align: center;
	font-weight: $extra-light;
	font-size: $large;


}
 .main__container__title2 {
 	color: $white;
	text-align: center;
	font-weight: $bold;
	font-size: $x-large;
 }

 .nosotros__title {
 	padding: 2rem;
 	background-color: $jelly_bean;
 	color: $white;
 	text-align: center;
 	font-weight: $bold;
	font-size: $x-large;

 }


 .nosotros__javiera__img {
 	padding-left: 18rem;
 	width:40%;
 	text-align: center;
 }

 .nosotros__roberto__img {
 	padding-left: 18rem;
 	padding-right: 18rem;
 	padding-top: 3rem;
 	width:40%;
 	text-align: center;
 }

.nosotros__roberto__title {
	
	text-align: center;
	font-weight: $medium;
	font-size: $large;
	color: $granite_gray;
	
}

.nosotros__javiera__title {
	
	text-align: center;
	font-weight: $medium;
	font-size: $large;
	color: $granite_gray;
	
}


.nosotros__roberto__texto {
	padding-left: 12rem;
 	padding-right: 12rem;
	text-align: left;
	font-weight: $medium;
	font-size: $extra-light;
	color: $granite_gray;
	padding-bottom: 3rem;
}

.nosotros__javiera__texto {
	padding-left: 12rem;
 	padding-right: 12rem;
	text-align: left;
	font-weight: $medium;
	font-size: $extra-light;
	color: $granite_gray;

}