.main {
	background-color: $jelly_bean;

} 
 .main__container {
 	padding-top: 3rem;
 	padding-bottom: 3rem;
 }

.main__container__title {
	color: $white;
	text-align: center;
	font-weight: $extra-light;
	font-size: $large;


}
 .main__container__title2 {
 	color: $white;
	text-align: center;
	font-weight: $bold;
	font-size: $large;
 }

 .nosotros__title {
 	padding: 2rem;
 	background-color: $jelly_bean;
 	color: $white;
 	text-align: center;
 	font-weight: $bold;
	font-size: $large;

 }

 .nosotros__javiera__img {
 	width:40%;
 	text-align: center;
 }

 .nosotros__roberto__img {
 	width:40%;
 	text-align: center;
 }

.nosotros__roberto__title {
	font-weight: $medium;
	font-size: $medium;
	color: $granite_gray;
}

.nosotros__javiera__title {
	font-weight: $medium;
	font-size: $medium;
	color: $granite_gray;
}


.nosotros__roberto__texto {
	font-weight: $medium;
	font-size: $extra-light;
	color: $granite_gray;
}

.nosotros__javiera__texto {
	font-weight: $medium;
	font-size: $extra-light;
	color: $granite_gray;
}